@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: "../fonts/ptsans.woff" format('woff');
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: "../fonts/ptsansbold.woff" format('woff');
}
