/*footer*/
.site-footer{
  text-align: center;
  .site-footer__hesh{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding-top: 19px;
  }
}
  .site-footer__social .social-list__item{
  padding-top: 40px;
  display: inline-block;
  svg{
    height: 48px;
    width: 48px;
    .twitter{
      background: @blue;
    }
    .facebook{
      background: @blue;
    }
    .youtube{
       background: @blue;
    }
    }
  }
  .copy__text img{
    width: 32px;
    height: 37px;
    position: relative;
    top: 15px;
    fill: #000;
  }

/*/footer*/
