/*footer*/
.site-footer{
  text-align: center;
  .site-footer__hesh{
    text-decoration: none;
    font-family: 'PT Sans Bold', sans-serif;
    font-size: 20px;
    padding-top: 19px;
  }
}
  .site-footer__social li{
  padding-top: 40px;
  display: inline-block;
  img{
    height: 48px;
    width: 48px;
    .twitter{
      background: #81b3d2 url('../img/icon-twitter.svg') no-repeat;
    }
    .facebook{
      background: #81b3d2 url('../img/icon-facebook.svg') no-repeat;
    }
    .youtube{
       background: #81b3d2 url('../img/icon-youtube.svg') no-repeat;
    }
    }
  }
  .copy__text img{
    width: 32px;
    height: 37px;
    position: relative;
    top: 15px;
    fill: #000;
  }

/*/footer*/
