/*footer*/
.site-footer{
  text-align: center;
  @media @tablet-widths {
    margin-top: 33px;
  }
  .site-footer__wrap {
  @media @tablet-widths {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
  .site-footer__hesh{
    text-decoration: none;
    font-size: 20px;
    padding-top: 17px;
    font-weight: bold;
    @media @tablet-widths {
      padding-top: 0;
     }
    .site-footer__text{
      @media @tablet-widths {
        margin: 0;
      }
    }
    }
  }

 }


/*/footer*/
