.mobile-menu__wrap {
  position: relative;
  z-index: 1;
}

.mobile-menu--close {
  display: none;
}

.mobile-menu__btn {
  fill: #000;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  background: url("../img/icon-cross.svg") no-repeat center/cover;
  border: none;
  cursor: pointer;
  @media @tablet-widths {
    display: none;
  }
}

.mobile-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media @tablet-widths {
    display: flex;
    flex-wrap: nowrap;
  }
  .mobile-menu__item {
    background-color: @blue;
    border-top: 1px solid #81acc7;
    border-bottom: 1px solid #78a7c4;
    text-align: center;
    vertical-align: middle;
    @media @tablet-widths {
      width: 20%;
      flex-grow: 1;
      border: none;
      background-color: #ffffff;
      &:nth-child(2) {
        padding-right: 20%;
      }
    }
  }
  a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    @media @tablet-widths {
      color: #000000;
    }
  }
}

.mobile-menu__item:first-child {
  border-top: none;
  padding-bottom: 1px;
}

.mobile-menu__item:last-child {
  border-bottom: none;
}
.no_JS{
  display: none;
}
.mobile-menu--close{
  display: none;
}

