/*header*/
/*top-menu*/
.top-menu__wrap {
  position: relative;
  background: #FFF;
}

.top-menu__logo {
  margin: 0 auto;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: -25px;
  a {
    display: block;
    width: 102px;
    height: 83px;
    margin: 0 auto;
  }

}

.top-menu__btn {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 20px;
  background: url("../img/icon-menu.svg") no-repeat center/cover;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.top-menu__intro {
  background: url("../img/back-mobile.png") no-repeat;
  min-height: 389px;
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 27px;
    bottom: 0;
    left: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center/cover;
  }
}

.top-menu__photo-text {
  content: " ";
  background: url('../img/text-sedona-index.svg') no-repeat 0 90px;
  min-height: 389px;
  background-size: contain;
  margin: 0 20px;
}

/*/main*/

/*fitback*/
.fitback-header {
  /*top-menu*/
  .top-menu__wrap {
    position: relative;
    background: #FFF;
    z-index: 1;
  }

  .top-menu__logo {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: -231px;
    height: 56px;
    z-index: 1;
    a {
      display: block;
      width: 102px;
      height: 83px;
      margin: 0 auto;
    }
  }
  .top-menu__btn {
    position: absolute;
    top: 17px;
    right: 20px;
    display: block
  }
  .top-menu-fitback__intro {
    background: url('../img/back-mobile.png') no-repeat;
    min-height: 389px;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 27px;
      bottom: 0;
      left: 0;
      background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center/cover;
    }
  }
  .top-menu-fitback__photo-text {
    background: url('../img/text-sedona.svg') no-repeat 24px 280px;
    background-size: 230px 40px;
    min-height: 389px;
    margin: 0 20px;
  }
}

/*/fitback*/


/*photo*/
.photo-header {
  /*top-menu*/
  .top-menu__wrap {
    position: relative;
    background: #FFF;
    z-index: 1;
  }

  .top-menu__logo {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: -231px;
    height: 56px;
    z-index: 1;
    a {
      display: block;
      width: 102px;
      height: 83px;
      margin: 0 auto;
    }
  }
  .top-menu__btn {
    position: absolute;
    top: 17px;
    right: 20px;
    display: block
  }
  .top-menu-fitback__intro {
    background: url('../img/back-mobile.png') no-repeat;
    min-height: 389px;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 27px;
      bottom: 0;
      left: 0;
      background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center/cover;
    }
  }
  .intro-fitback__photo-text {
    background: url('../img/text-sedona.svg') no-repeat 24px 280px;
    background-size: 230px 40px;
    min-height: 389px;
    margin: 0 20px;
  }
}

/*/photo*/
/*/header*/
