/*header*/
/*top-menu*/
.top-menu__wrap {
  position: relative;
  background: #FFF;
  text-align: center;
  margin-bottom: -25px;
  @media @tablet-widths {
    top: -56px;
    margin-bottom: -83px;
  }
}

.top-menu__logo {
  margin: 0 auto;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: -25px;
  display: inline-block;

  a {
    display: block;
    width: 102px;
    height: 83px;
    margin: 0 auto;
    @media @desktop-widths {
      width: 188px;
      height: 96px;
    }
  }

}

.top-menu__btn {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 20px;
  background: url("../img/icon-menu.svg") no-repeat center/cover;
  border: none;
  cursor: pointer;
  z-index: 4;
  @media @tablet-widths {
    display: none;
  }
}

.top-menu__intro {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
  .retina({ background: url(../img/bg-back-mobile@2x.jpg) no-repeat 50% 0% });
  min-height: 389px;
  position: relative;

  @media @tablet-widths {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    .retina({ background: url(../img/bg-back-tablet@2x.jpg) no-repeat center/cover; });
    min-height: 520px;

  }
  @media @desktop-widths {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    .retina({ background: url(../img/bg-back-desktop@2x.jpg) no-repeat center/cover; });

    top: -12px;
  }
  &:before {
    font-size: 0;
    line-height: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 27px;
    bottom: 0;
    left: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center/cover;
    @media @tablet-widths {
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat center/cover;
      height: 57px;
      width: 768px;
    }
    @media @desktop-widths {
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat center/cover;
      height: 59px;
      width: 1210px;
      padding: 0;
      left: -5px;
      bottom: -2px;
    }
  }
  .top-menu__photo {
    @media @tablet-widths {
      display: flex;
      justify-content: center;
    }
  }
}

.top-menu__photo-text {
  margin-top: 90px;
  height: 208px;
  width: 280px;
  padding: 0 20px;
  @media @tablet-widths {
    height: 345px;
    width: 465px;
    padding: 0 153px;
  }

}

/*/main*/

/*fitback*/ /*top-menu*/
.feetback-header {
  .top-menu__logo {

  }
  .top-menu__intro--feetback {
    min-height: 160px;
    background-position: 50% 100%;
    @media @tablet-widths {
      min-height: 290px;
    }
  }
  .top-menu__photo-text {

    margin-top: 0;
    @media @tablet-widths {
      margin-top: -55px;
    }
  }
}

/*/fitback*/

/*photo*/
.photo-header {
  .top-menu__logo {

  }
  .top-menu__intro--feetback {
    min-height: 160px;
    background-position: 50% 100%;
    @media @tablet-widths {
      min-height: 290px;
    }
  }
  .top-menu__photo-text {

    margin-top: 0;
    @media @tablet-widths {
      margin-top: -55px;
    }
  }
}

/*/photo*/
/*/header*/
